<h1>Contacts</h1>

<table class="table table-bordered table-scripted">
    <thead>
        <tr>
            <th class="col-sm-4">E-mail</th>
            <th class="col-sm-7">Message</th>     
            <th class="col-sm-1"></th>       
        </tr>
    </thead>
    <tbody>
        {{#each model as |contact|}}            
            <tr>
                <td>{{contact.email}}</td>
                <td>{{contact.message}}</td>                
                <td><button class="btn btn-danger btn-s" {{action 'deleteContact' contact}}>Delete</button></td>
            </tr>            
        {{/each}}
    </tbody>
</table>